<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
  </head>
  <body>
    <div class="container">

    <h1>Take a Look...</h1>

    <h3><a href="/authors">Add or view a author</a></h3>
    <h3><a href="/books">Add or view a book</a></h3>
    </div>  
  </body>
</html>
